@mixin label-boxie {
  font-size: 14px;
  font-weight: 500;

  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.label-boxie-gray {
  @include label-boxie;
  color: $ignored-gray;
}

.label-boxie-black {
  @include label-boxie;
  color: $nomatch-black;
}

.label-boxie-orange {
  @include label-boxie;
  color: $pending-orange;
}
