#LicenseDialog {


 .MuiDialog-paperWidthMd{
    width: 500px;
  }

    .dialog-title {
      padding: 20px;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0em;
      text-align: left;
      border-bottom: 1px solid #D4D4D8;
      display: block;
    }
  
  
    .identity-license {
      background-color:  #f4f4f5;;
      overflow: hidden;
  
      .component-version-container {
        display: grid;
        grid-template-columns: 1.5fr 0.75fr;
        margin: 20px 12px;
  
        .license-container {
          margin: 0 12px;
        }
      }
  
      .license-container {
        margin: 20px 24px;
      }
  
      input {
        height: 1.2em;
      }
  
      label {
        display: flex;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 400;
      }
      
  
      textarea {
        border: none;
        outline: 0px !important;
        -webkit-appearance: none;
        box-shadow: none !important;
        resize: none;
      }
    }
  }
  