#VulnerabilitiesReportPage {
  .form-row.filter {
    .form-group {
      width: 350px;
    }
  }

  .filter-severity .tag {
    padding: 0;
  }

  .tag {
    padding: 2px 8px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 700;

    &.tag-critical {
      background: #ef4444;
      color: white;
    }

    &.tag-high {
      background: #fecaca;
      color: #ef4444;
    }

    &.tag-medium {
      background: #fed7aa;
      color: #f38609;
    }

    &.tag-low {
      background: #e4e4e7;
    }
  }
}
