#ComponentList, #IdentifiedList {
  display: grid;
  // grid-template-rows: auto 1fr;
  height: 100%;

  .app-page {
    height: 100%;
    display: grid;
  }

  .app-header {
    .search-box {
      width: $search-box-width
    }
  }

  .app-content {
    // height: 100%;
    overflow-y: visible;
  }

  .component-list, .dependency-manifest-file-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-row-gap: 1.5em;
    grid-column-gap: 1.5em;
    overflow-y: scroll;
    padding-bottom: 10px;
  }

  .dependency-manifest-file-list {
    margin-block-end: 2em;
  }

}


