.match-info-header {
  margin-bottom: 20px;
  .content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
  }
}

.editors {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;

  .editor {
    pre {
      white-space: pre-line;
     }

  }
}
