#WorkbenchFilters {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .workbench-filters-body {
    min-height: 130px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &.collapsed {
    .workbench-filters-body {
      flex-direction: row;
    }

    .workbench-filters-group  {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 0 !important;

      &:first-child {
        margin-right: 16px;
      }

      label {
        &::before {
          content: '\00a0';
          width: 10px;
          height: 10px;
          background: red;
          display: block;
        }
      }

      .MuiFormControlLabel-label {
        display: none;
      }

    }
  }

  header {
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .workbench-filters-group  {

    legend {
      font-size: 14px;
      color: #71717A;
      margin-bottom: 8px;
    }

    .MuiRadio-root {
      display: none;
    }

    .MuiFormControlLabel-label {
      font-size: 14px;
      margin: 4px 0;
      padding: 1px 8px;

      border: 1px solid #64748B;
      font-weight: 400;
      color: #64748B;
      border-radius: 4px;
      text-transform: capitalize;
    }

    .Mui-checked + .MuiFormControlLabel-label {
      background: #E2E8F0;
    }

  }


}
