#WorkbenchFilters {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .workbench-filters-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 10px 16px 0;
  }

  .MuiFormControlLabel-root {
    --color: #6366f1;
    --color-rgb: 99, 102, 241;

    &.pending {
      --color: rgb(249, 115, 22);
      --color-rgb: 249, 115, 22;
    }
    &.identified {
      --color: #22c55e;
      --color-rgb: 34, 197, 94;
    }
    &.original {
      --color: #84cc16;
      --color-rgb: 132, 204, 22;
    }
    &.nomatch {
      --color: #3f3f46;
      --color-rgb: 63, 63, 70;
    }
    &.filtered {
      --color: #a1a1aa;
      --color-rgb: 161, 161, 170;
    }
  }

  &.collapsed {
    .workbench-filters-body {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 8px;
    }

    .workbench-filters-group {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 0px;

      .MuiFormLabel-root {
        margin-bottom: 1px;
      }

      .MuiFormControlLabel-label {
        position: relative;
        font-size: 0;
        border: 0;
        margin: 2px 0;
        padding: 0;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: rgba(var(--color-rgb), 0.3);

        &::before {
          content: '';
          display: block;
          position: absolute;
          top: -2px;
          left: -2px;
          width: 14px;
          height: 14px;
          border-radius: 50%;
          border: 1px solid transparent;
        }
      }

      .Mui-checked + .MuiFormControlLabel-label {
        background-color: (var(--color));
      }

      .Mui-checked + .MuiFormControlLabel-label::before {
        border: 1px solid var(--color);
      }

      .MuiFormControlLabel-root:last-child {
        margin-right: 0;
      }
    }

    .MuiFormControlLabel-root.tree-toggle-switch {
      margin-top: -4px;
      margin-right: 0px;
    }
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin: 14px 16px 4px;
    min-height: 24px;
    padding: 0;
  }

  .workbench-filters-group {
    align-items: flex-start;
    margin-bottom: 16px;

    .MuiFormLabel-root {
      margin-right: 8px;
      font-size: 14px;
      margin-bottom: 8px;
    }

    &.active .MuiFormLabel-root {
      color: rgba(0, 0, 0, 0.87);
      font-weight: 500;
    }

    .MuiRadio-root {
      display: none;
    }

    .MuiFormControlLabel-label {
      font-size: 14px;
      margin: 4px 0;
      padding: 0px 8px;

      border: 1px solid var(--color);
      font-weight: 400;
      color: var(--color);
      border-radius: 50px;
      text-transform: capitalize;
    }

    .Mui-checked + .MuiFormControlLabel-label {
      background-color: rgba(var(--color-rgb), 0.2);
    }
  }

  .MuiFormControlLabel-root.tree-toggle-switch {
    display: flex;
    align-items: baseline;
    margin-left: -2px;

    small {
      color: #71717a;
    }
  }

  #SearchBox {
    box-shadow: none;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-left: 0;
    border-right: 0;

    .MuiInputBase-root {
      font-size: 0.75rem;
    }

    .start-icon {
      padding: 8px;
      font-size: 1.2rem;
    }

    .end-icon {
      padding: 4px;
      font-size: 1rem;
    }
  }
}
