#WorkbenchFilters {
  display: flex;
  flex-direction: column;
  justify-content: center;


  .workbench-filters-body {
    min-height: 130px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 0 16px;
  }

  .MuiFormControlLabel-root {
    --color: #6366f1;
    --color-rgb: 99, 102, 241;

    &.pending { --color: rgb(249, 115, 22); --color-rgb: 249, 115, 22; }
    &.identified { --color: #22C55E; --color-rgb: 34, 197, 94; }
    &.original { --color: #84CC16; --color-rgb: 132, 204, 22; }
    &.nomatch { --color: #3F3F46; --color-rgb: 63, 63, 70; }
    &.filtered { --color: #A1A1AA; --color-rgb: 161, 161, 170; }
  }

  &.collapsed {
    .workbench-filters-body {
      flex-direction: row;
      justify-content: space-between;
    }

    .workbench-filters-group  {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 8px;

      .MuiFormLabel-root {
        margin-bottom: 1px;
      }

      .MuiFormControlLabel-label {
        font-size: 0;
        border: 0;
        margin: 2px 0;
        padding: 0;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: rgba(var(--color-rgb), 0.3);
      }

      .Mui-checked + .MuiFormControlLabel-label {
        background-color: (var(--color));
      }

      .MuiFormControlLabel-root:last-child {
        margin-right: 0;
      }
    }
  }

  header {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    margin: 14px 16px 4px;
    min-height: 24px;
    padding: 0;
  }

  .workbench-filters-group  {
    margin-bottom: 16px;

    .MuiFormLabel-root {
      margin-right: 8px;
      font-size: 14px;
      margin-bottom: 8px;
    }

    .MuiRadio-root {
      display: none;
    }

    .MuiFormControlLabel-label {
      font-size: 14px;
      margin: 4px 0;
      padding: 1px 8px;

      border: 1px solid var(--color);
      font-weight: 400;
      color: var(--color);
      border-radius: 4px;
      text-transform: capitalize;
    }

    .Mui-checked + .MuiFormControlLabel-label {
      background-color: rgba(var(--color-rgb), 0.2);
    }

  }


}
