.match-info-card {
  background-color: #ffff;
  min-height: 68px;
  border-radius: 4px;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  cursor: pointer;
  box-sizing: border-box;
  border-left: 10px solid white;

  @media screen and (max-width: $default-width) {
    width: 100%;
    margin-top: 20px;
  }

  &:hover .match-info-card-buttons {
    opacity: 1 !important;
  }

  .match-info-card-content {
    display: grid;
    grid-template-columns: 80% auto;
    align-items: center;
    width: calc(100% - 30px);
    margin-left: 20px;
    justify-content: space-between;

    .label-info-div {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .logo-match-info-card {
        width: 35px;
        height: 35px;
        margin-right: 12px;
      }

      .component-span {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        color: #3B82F6;
        margin-right: 12px;
      }

      .version-span {
        font-family: Space Mono;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: #52525B;
        margin-right: 48px;
      }

      .usage-div {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .usage-label {
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 17px;
        }

        .usage-id {
          text-transform: capitalize;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
        }
      }
    }

    .match-info-card-buttons {
      opacity: 0;
      display: flex;
      margin-right: 12px;
      transition: 200ms ease;

      .check{
        color: $indentified-green;
      }

      .ban {
        color: $ignored-gray;
      }

    }

  }
}


.status- {
  &pending {
    border-left: 10px solid $pending-orange;
  }

  &identified {
    border-left: 10px solid $indentified-green;
  }

  &ignored {
    border-left: 10px solid $ignored-gray;
  }
}

