.match-info-card {
  background-color: #ffff;
  height: 68px;
  width: 90%;
  border-radius: 4px;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.06),
    0px 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  margin-bottom: 12px;



  @media screen and (max-width: $default-width) {
    width: 100%;
    margin-top: 20px;
  }

  .match-info-card-content {
    display: grid;
    grid-template-columns: 80% auto;
    align-items: center;
    flex-direction: row;
    width: calc(100% - 20px);
    margin-left: 20px;
    justify-content: space-between;


    .label-info-div {
      width: 100%;
      display: flex;
      align-items: center;

      .logo-match-info-card{
        width: 35px;
        height: 35px;
        margin-right: 12px;
      }

      .component-span{

        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        color: #3B82F6;
        margin-right: 12px;
      }
      .version-span{
        font-family: Space Mono;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: #52525B;
        margin-right: 48px;
      }
      .usage-div{
        display: flex;
        justify-content: center;
        flex-direction: column;

        .usage-label{
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 17px;
        }
        .usage-id{
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
        }
      }
    }

    .match-info-card-buttons {
      visibility: hidden;
    }

    &:hover{

      .match-info-card-buttons{
        margin-right: 1%;
        visibility: visible;
        transition: 100ms ease-out;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon{
          width: 30px;
          height: 30px;
          margin-right: 15px;

        }

        .check{
          color: $indentified-green;
        }

        .ban {
          color: $ignored-gray;
        }

    }
    }

  }
}


.status- {
  &pending {
    border-left: 10px solid $pending-orange;
  }

  &identified {
    border-left: 10px solid $indentified-green;
  }

  &ignored {
    border-left: 10px solid $ignored-gray;
  }
}

