.label-card {
  background-color: #ffff;
  height: 76px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;

  @media screen and (max-width: $md) {
    width: 100%;
    margin-top: 20px;
  }


  .label-card-content {
    display: grid;
    grid-template-columns: 80% auto;
    align-items: center;
    flex-direction: row;
    width: calc(100% - 20px);
    margin-left: 12px;
    justify-content: space-between;

    .label-div {
      width: 100%;

      .label-title {
        font-family: Inter;
        font-weight: 700;
        color: black;
        font-size: 20px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
      }

      .directory-div {
        display: flex;
        margin-top: 8px;
        .label-icon{
          width: 20px;
          height: 20px;
          color: rgba(161, 161, 170, 1);
          margin-right: 7.25px;
        }
      }
    }

    .btn-copy {
      visibility: hidden
    }

    &:hover .btn-copy {visibility: visible;}
  }
}
