.component-card {
  width: 100%;
  min-height: 230px;

  button {
    width: 100%;
    height: 100%;
    font-size: 60px;
    text-align: left;
  }

  .component-card-content {
    padding-top: 0;
    padding-bottom: 0 !important;
    height: 100%;
    width: 100%;

    //display: grid;
    //grid-template-rows: auto minmax(75px,85px) 45px;
    //align-items: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    p {margin: 0;}

    figure {
      margin-top: 28px !important;
    }

    .component-card-info {
      display: flex;
      flex-direction: column;
      justify-content: center;

      overflow: hidden;

      p {
        font-family: 'Space Mono', monospace;
        color: #A1A1AA;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
      }

      h6 {
        color: var(--color-component);
        font-size: 22px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        margin: 0;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }

      .more {
        font-family: inherit;
        color: var(--color-component);
      }
    }

    .component-card-files {
      border-top: 1px solid #E4E4E7;
      padding: 10px 0;
      display: flex;

      &.no-status-filter .info-count {
        opacity: 1;
      }

      &.pending .info-count.pending { opacity: 1; }
      &.original .info-count.ignored { opacity: 1; }
      &.identified .info-count.identified { opacity: 1; }

      .info-count {
        opacity: .4;
        display: flex;
        align-items: center;
        margin-right: 10px;

        font-size: 16px;
        font-weight: 400;
      }
    }
  }

  &.override {
    .component-card-info .original {
      p, h6 {
        text-decoration: line-through;
        opacity: .6;
        font-size: 14px;
        line-height: 14px;
      }

      h6 {
        margin-bottom: 6px;
      }
    }
  }

}
