@mixin pill {
  border-radius: 10%;
  padding: 3px;
  font-size: 15px;
}

.pending-pill {
  @include pill;
  border: 1px solid orange;
  color: orange;
}

.identified-pill {
  @include pill;
  border: 1px solid green;
  color: green;
}

.ignored-pill {
  @include pill;
  border: 1px solid rgb(87, 87, 167);
  color: rgb(87, 87, 167);
}
