#Workspace {
  display: grid;

  .app-header {
    margin-top: 20px;
  }

  .empty-container {
    display: flex;
    height: 100%;
    align-items: center;

    .empty-list {
      width: 400px;
      margin: 0 auto 150px;
      text-align: center;
      h3, p {
        margin: 10px;
      }
    }
  }

}
