#Workspace {
  display: grid;

  .app-header {
    margin-top: 20px;
  }

  .MuiPaper-root {
    max-height: 100%;
  }

  .MuiTableRow-root {


    .btn-delete {
      visibility: hidden;
    }

    &:hover .btn-delete {
      visibility: visible;
    }
  }



  .empty-container {
    display: flex;
    height: 100%;
    align-items: center;

    .empty-list {
      width: 400px;
      margin: 0 auto 150px;
      text-align: center;
      h3, p {
        margin: 10px;
      }
    }
  }

}
