.dialog {

  .MuiDialogTitle-root {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    border-bottom: 1px solid #D4D4D8;
    display: block;
  }

  .MuiDialogContent-root {
    background-color: #f4f4f5;
  }

  .dialog-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 58px;
    padding: 0 4px 0 16px;

    font-size: 20px;
    font-weight: 400;

    border-bottom: 1px solid #D4D4D8;
  }

  .dialog-content {
      padding: 20px 24px;
      background-color: rgba(244, 244, 245, 1);
      overflow: hidden;

      .dialog-row {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        .dialog-form-field {
          width: 100%;
        }
      }
  }

  .dialog-content > .dialog-form-field {
    &:first-child { margin-top: 0; }
  }

  .dialog-content .dialog-row:first-child > .dialog-form-field {
      margin-top: 0;
  }


  .dialog-form-field {
    margin: 20px 0 0;

    .dialog-form-field-label {
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      .optional {
        font-style: italic;
        opacity: 0.6;
      }

      button {
        margin-left: 4px;
      }
    }

    .dialog-form-field-hint {
      font-size: 0.75rem;
    }

    label {
      font-size: 16px;
      font-weight: 400;
    }

    .dialog-form-field-control {
      display: flex;
      align-items: center;
    }

    .autocomplete-dialog {
      color: #6c6c6e;
    }

    textarea {
      border: none;
      outline: 0px !important;
      -webkit-appearance: none;
      box-shadow: none !important;
      resize: none;
      color: #6c6c6e;
    }

    .MuiSelect-root {
      display: flex;
      align-items: center;
    }
  }

  .MuiAutocomplete-root {
    .MuiOutlinedInput-root.MuiInputBase-sizeSmall.MuiInputBase-adornedStart {
      // padding: 0 6px;
    }
  }


}
