#Report {
  background-color: var(--background-color-primary);
  min-width: 800px;

  @media screen and (min-width: 1600px) {
    padding-left: 180px !important;
    padding-right: 180px !important;
  }

  .nav {
    .MuiButton-root {
      background: #d4d4d8;
      color: #505055;
      font-weight: 600;
      padding: 8px 20px;
    }

    .active {
      .MuiButton-root {
        background-color: white;
        color: black;
      }
    }
  }

  .empty-container {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .report-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
  }

  .report-layout {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 16px;

    &.detected {
      grid-template-rows: 350px 150px minmax(150px, auto) auto auto;

      grid-template-areas:
        'A B'
        'C B'
        'D B'
        'E E';

      .licenses {
        grid-area: A;
      }
      .matches {
        grid-area: C;
      }
      .matches-for-license {
        grid-area: B;
      }
      .vulnerabilities {
        grid-area: D;
      }
      .licenses-obligation {
        grid-area: E;
      }
    }

    &.identified {
      grid-template-rows: auto auto 400px minmax(150px, auto) auto;
      grid-template-areas:
        'A A'
        'B B'
        'C D'
        'E D'
        'F F';

      .identification-progress {
        grid-area: A;
      }
      .oss-original {
        grid-area: B;
      }
      .licenses {
        grid-area: C;
      }
      .matches-for-license {
        grid-area: D;
      }
      .vulnerabilities {
        grid-area: E;
      }
      .licenses-obligation {
        grid-area: F;
      }
    }

    .report-item {
      padding: 24px;

      .report-title {
        color: #27272a;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
      }

      .report-empty {
        font-size: 16px;
        font-weight: 400;
        color: #6b7381;
        margin-top: 6px;
      }
    }

    .report-item.long-license-list,
    .report-item.licenses {
      display: flex;
      flex-direction: column;
    }

    .report-item.long-license-list {
      display: grid;
      grid-template-rows: auto 90%;

      height: 370px;
    }

    .report-item.licenses {
      .report-empty {
        font-size: 16px;
        font-weight: 400;
        color: #6b7381;
        margin-top: 6px;
      }
    }

    #IdentificationProgress,
    #OssProgress {
      display: flex;
      justify-content: center;
      flex-direction: column;

      .identification-canvas-container {
        margin-top: 22px;
        height: 55px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .label {
          float: left;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          color: #22c55e;
          margin-top: 4px;
          font-size: 34px;
          font-weight: 700;
        }

        .label-original {
          color: #a1a1aa;
        }

        .label-not-found {
          margin-top: -16px;
          font-size: 16px;
          font-weight: 400;
          color: #6b7381;
        }

        .progress-bar {
          width: 90%;
        }
      }
    }

    .table-cell {
      display: flex;
      align-items: center;
      color: #3b82f6;
      word-break: break-all;

      figure {
        margin: 0;
        margin-right: 10px;
      }

      div > span.small {
        font-size: 10px;
        color: #3f3f46;
      }
    }

    .break-word-table {
      word-break: break-all;
    }

    .MuiTableContainer-root {
      max-height: 650px;
    }

    .tableRowLicense {
      .MuiTableCell-root {
        padding: 8px 16px;
      }

      .tableCellForLicensePill {
        .container-licenses-pills {
          display: flex;
          align-items: center;
          justify-content: center;

          .tinyPillLicenseContainer {
            background-color: #e4e4e7;
            width: fit-content;
            height: fit-content;
            display: flex;
            justify-content: center;
            padding: 2px 6px;
            border-radius: 4px;
            margin-right: 10px;

            .tinyPillLicenseLabel {
              color: #3f3f46;
              font-size: 11px;
              font-weight: 700;
            }
          }
          .incompatible {
            background-color: #ef4444;
            color: white;
            font-size: 11px;
            font-weight: 700;
          }
        }
      }
    }
  }
}

#LicensesChart {
  padding: 8px 0 4px;
  max-width: 220px;
  justify-self: center;
}

.report-full {
  display: grid;
  height: calc(100% - 20px);
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  align-items: center;
}

.license-long-list-container {
  align-items: center;
}

#LicenseTable.license-short-list,
#LicenseTable.license-list {
  overflow-y: scroll;
  padding: 0 20px;
}

#LicenseTable.license-list {
  overflow-y: scroll;
  max-height: 100%;

  .license-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    padding: 8px 10px;

    &-selected {
      background-color: #e4e4e7;
      border-radius: 4px;
    }

    &:hover {
      transition: ease-in 0.2s;
      background-color: rgba(228, 228, 231, 1);
      cursor: pointer;
    }

    .license-list-item-color {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      margin-right: 12px;
      border-radius: 4px;
    }

    .license-list-item-name {
      font-size: 14px;
      font-weight: 400;
    }
  }
}

#MatchesChart {
  display: flex;
  justify-content: center;
  flex-direction: column;

  canvas {
    padding: 0 20px;
    max-width: 600px;
    min-width: 200px;
  }

  .matches-canvas-container {
    margin-top: 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .label-match-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 35%;

      .label-match {
        color: #6366f1;
        padding: 0px;
        font-size: 2em;
        font-weight: 400;
      }

      .label-match-sublabel {
        color: #27272a;
        font-size: 14px;
      }
    }

    .label-nomatch-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 35%;
      .label-nomatch {
        color: #a5b4fc;
        padding: 0px;
        font-size: 2em;
        font-weight: 400;
      }

      .label-nomatch-sublabel {
        color: #27272a;
        font-size: 14px;
      }
    }
  }
}

.vulnerabilities {
  .report-title .MuiSvgIcon-root {
    opacity: 0.5;
    transition: all 200ms ease;
  }

  &:hover .report-title .MuiSvgIcon-root {
    transform: translateX(3px);
    opacity: 1;
  }
}

#VulnerabilitiesCard {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  section {
    display: flex;
    width: 100%;
    gap: 20px;
  }

  &.blocked {
    section {
      opacity: 0.5;
      pointer-events: none;
    }

    .vulnerability-number {
      filter: blur(8px);
    }
  }

  .vulnerability-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 80px;

    .vulnerability-number {
      font-weight: 500;
      font-size: 62px;
      line-height: 62px;
    }

    .vulnerability-label {
      font-size: 12px;
      font-weight: 500;
      color: black;
    }

    &.critical .vulnerability-number {
      color: #ef4444;
    }
    &.high .vulnerability-number {
      color: #c2410c;
    }
    &.medium .vulnerability-number {
      color: #fde047;
    }
    &.low .vulnerability-number {
      color: #c7c7cc;
    }
  }
}

.total-files-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .total-files-label {
    font-size: 14px;
    text-align: center;
  }
}

.notarize-container {
  display: flex;
  justify-content: center;
  flex-flow: row;
  margin-top: 20px;
}

.hide {
  display: none;
}

#OssProgress {
  height: 105px;
}

#OssOriginalProgress {
  height: 95px;
}

#Report .report-layout #OssProgress .identification-canvas-container .label {
  margin-top: 27px;
  color: #5d5d5d;
}

#Report .report-layout #OssProgress .identification-canvas-container {
  height: 70px;
  margin-top: 5px;
}

#OssProgress .total-files-container {
  margin-top: 10px;
}
