.workbench-layout {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.Pane2 {
  overflow: hidden;
}

.workbench {
  height: 100%;
  background-color: var(--background-color-primary);
  position: relative;
}
