:root {
  /* TODO: armar theme cuando llegue UI */
  --background-color-primary: #e4e4e7;
  --text-color-primary: #505050;
}


.explorer {
  color: var(--text-color-primary);
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  background-color: white;

  header {
    padding: 3px 2px 3px 5px;
  }

  .file-tree-container {
    display: flex;
    overflow: scroll;
    overflow-x: auto;
    padding-top: 20px;
    width: 100%;
    height: 100%;
  }
}

.Pane2 {
  overflow: hidden;
}

.match-info {
  height: 100%;
  background-color: var(--background-color-primary);
}

.btn-export {
  position: absolute !important;
  bottom: 16px ;
  right: 16px;
}
