.inventory-card {
  width: 100%;

  .inventory-card-content {
    width: 100%;
    border-left: 8px solid var(--color-status-identified);

    header {
      .MuiChip-root.identified {
        position: absolute;
        right: 16px;
        top: 16px;
      }

      p {
        text-transform: capitalize;
        margin-bottom: 2px;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: -0.02em;
      }
    }

    .notes {
      margin-top: 16px;
      font-style: italic;

      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    footer {
      .link {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: var(--color-status-identified);
        font-size: 16px;
        font-weight: 700;

      }
    }
  }

  button {
    width: 100%;

    text-align: left;
    justify-content: left;
  }

  &.pending::before {
    background-color: var(--color-status-pending);
  }
  &.identified::before {
    background-color: var(--color-status-identified);
  }
  &.ignored::before {
    background-color: var(--color-status-ignored);
  }
}
