main.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    background-image: linear-gradient(
        180deg
        , #000000 0%,#06506d 100%);
} 

button {
    font-size: 60px;
}
