::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 14px 14px transparent;
  border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 14px 14px #d7d7db;
  border: solid 3px transparent;
  border-radius: 14px;
}

::-webkit-scrollbar-button {
  display: none;
}

.app-page {
  &::-webkit-scrollbar {
    width: 14px;
    height: 14px;
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 14px 14px #c3c3c3;
    border: solid 3px transparent;
    border-radius: 6px;
  }
}

.app-page {
  display: grid;
  height: 100%; // 100vh;
  padding: 30px 65px;
  grid-template-rows: auto 1fr;
}

.SplitPane {
  height: calc(100% - var(--appbar-height)) !important;
  margin-top: var(--appbar-height) !important;
}

.app-header {
  margin-bottom: 1.5em;

  .header-subtitle {
    display: flex;
    align-items: center;
    margin: 0;
    height: 48px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    &.back {
      margin-left: -48px;
    }
  }

  .header-title {
    margin: 0 0 10px;
    font-size: 34px;
    font-weight: 700;

    margin-bottom: 40px;
  }
}


.app-page {
  display: block;
  overflow-y: scroll;

  padding: 0px 65px 30px;

  .app-header {
    padding-top: 30px;
    padding-bottom: 1.5em;
    margin-bottom: 0;
    top: 0;
    position: sticky;
    z-index: 9;
    background-color: var(--background-color-primary);
  }

  .app-content {
    overflow-y: hidden;
    padding: 3px 0;
  }
}

#Workbench .app-page {
  padding: 0px 40px 0px;
}
