// flex and grid

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}


// margins and padding

@mixin loop($className, $styleName) {
  $max: 10;
  $offset: 5;
  $unit: 'px';
  $i: 0;
  @while $i <= $max {
    #{$className + $i} {
      #{$styleName}: #{$i*$offset}px !important;
    }
    $i: $i + 1;
  }
}

@include loop('.m-', 'margin');
@include loop('.mt-', 'margin-top');
@include loop('.mb-', 'margin-bottom');
@include loop('.ml-', 'margin-left');
@include loop('.mr-', 'margin-right');
@include loop('.p-', 'padding');
@include loop('.pt-', 'padding-top');
@include loop('.pb-', 'padding-bottom');
@include loop('.pl-', 'padding-left');
@include loop('.pr-', 'padding-right');

// width and height
.w-100 {
  width: 100% !important;
}

// text

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
