:root {
  --color-primary: #6366F1;

  --color-status-pending: #F97316;
  --color-status-ignored: #71717A;
  --color-status-identified: #22C55E;

  --background-color-primary: #e4e4e7;

  --color-font: #27272A;
  --color-component: #3B82F6;
}

.color-primary {
  color: var(--color-primary);
}
