#ComponentList {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;

  .app-page {
    height: 100%;
  }
}

.component-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-row-gap: 1.5em;
  grid-column-gap: 1.5em;
  overflow-y: scroll;
  padding-bottom: 10px;
}
