.scan-results-home {
  height: 60vh;
  background-color: #F4F4F5;
  border-radius: 0px 0px 61px 61px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  .div-scan-title {
    width: 100%;
    * {
      padding-left: 2vw;
    }
    .button-close {
      padding: 50px;
    }
  }

  .close-button-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
  }

  .div-charts-home {
    //grid with two columns, in the first column one row, in the second one two rows
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 24px;
    height: 60%;
    width: 95%;
    // * {
    //   background-color: chartreuse;
    // }

    .report-title-home {
      color: #A1A1AA;
      font-weight: 700;
      font-size: 14px;
    }

    #licenses {
      grid-row: 1/3;
      display: flex;
      flex-direction: column;
      padding: 16px;

    }

    #matches {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #vulnerabilities {
      display: flex;
      align-items: center;
      padding-left: 24px;
    }


  }


}


#ScanResults {
  margin-left: 75px;
  font-size: 30px;
  font-weight: 700;
}


.component-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-row-gap: 1.5em;
  grid-column-gap: 1.5em;

  overflow-y: scroll;
  padding-bottom: 10px;
}
