#Dependency {
  display: grid;

  .tabs {
    .MuiTab-root {
      min-width: 120px;

      &:first-child {
        min-width: 60px;
      }
    }
  }

  .app-header {
    padding-bottom: 0;

    .search-box {
      width: $search-box-width;
      margin-bottom: 16px;
    }

    .subheader {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-top: 16px;
    }
  }
}



