#Dependency {
  display: grid;

  .tabs {
    .MuiTab-root {
      min-width: 120px;

      &:first-child {
        min-width: 60px;
      }
    }
  }

  .app-header {
    padding-bottom: 0;

    .search-box {
      width: $search-box-width;
      margin-bottom: 16px;
      display: flex;
      gap: 1em;

      .search-bar {
        width: 55%;
      }

      .filter-box {
        width: 40%;
      }
  
    }
    .subheader {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-top: 16px;
    }
  }

  .dependencies-tree-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}



