#Workspace {
  display: grid;

  .app-header {
    margin-top: 20px;

    .subheader {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .search-box {
        width: $search-box-width;
      }
    }

    .search-input {
      width: 400px ;
    }
  }

  .MuiPaper-root {
    max-height: 100%;
  }

  .projects-table {
      min-width: 650px;

      .MuiTableRow-root {
        cursor: pointer;

        &.scanning-not-complete, &.project-deprecated {
          cursor: default;

          .MuiTableCell-root{
            color: grey;
          }
        }

        &.project-deprecated {
          cursor: pointer;

          .project-deprecated-tooltip {
            max-width: 60px;
          }
        }

        .btn-actions {
          visibility: hidden;
          display: flex;
          justify-content: flex-end;
        }

        &:hover .btn-actions {
          visibility: visible;
        }

        .project-name {
          display: flex;
          align-items: center;

          .icon {
            color: orange
          }

          .MuiChip-sizeSmall {
            height: 18px;
            font-size: 0.6rem;
          }
        }
      }

      .row-actions {
          margin: 0;
          padding-top: 0;
          padding-bottom: 0;
      }
  }

  .empty-container {
    display: flex;
    height: 100%;
    align-items: center;

    .empty-list {
      width: 400px;
      margin: 0 auto 150px;
      text-align: center;

      h3, p {
        margin: 10px;
      }
    }
  }
}
