#editor {
  .app-header {
    padding-bottom: 0;
  }
}

.match-title {
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 40px;

  .arrow-icon{
    height: 50px;
    width: 50px;
    color: #71717A;
  }

  .match-span {
    padding-right: 15px;
    font-weight: 700;
    color: black;
    font-size: 45px;
  }
}
.match-info-header {
  margin-bottom: 20px;

  .content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0px;
    height: 100%;
    align-items: center;

    @media screen and (max-width: $default-width) {

    }

  }
}

.match-info-default-container {
  display: flex;
  width: calc(50% - 10px);
  min-width: 500px;
}

.info-files, .editors {
  display: grid;
  grid-template-columns: calc(50% - 10px) 50%;
  grid-gap: 10px;
}

.info-files {
  margin-top: 20px;
}

.editors {
  .editor {
    margin-bottom: 50px;

    pre {
      margin: 0;
    }
    p {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      padding: 0;
      margin: 0;
    }
  }
}


.component-details-card2{
  width: fit-content;
  max-width: 600px;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  top: 70%;
  z-index: 1000;
  border-radius: 4px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);



.tiny-container-detail2{
  margin: 16px;

  p {
    margin: 0px;
  }

  .title-detail2{
    color: #3B82F6;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
  }

  .desc-detail2{
    font-size: 20px;
    font-weight: 400;
  }

  .url2{
    text-decoration: underline;
    word-wrap: normal;
  }
}

}

