#editor {
  .app-header {
    padding-bottom: 0;
  }
}

.match-title {
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 40px;

  .arrow-icon{
    height: 50px;
    width: 50px;
    color: #71717A;
  }

  .match-span {
    padding-right: 15px;
    font-weight: 700;
    color: black;
    font-size: 45px;
  }
}
.match-info-header {
  margin-bottom: 20px;

  .content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0px;
    height: 100%;
    align-items: center;

    @media screen and (max-width: $default-width) {
      flex-direction: column;
      align-items: flex-start;
    }

    .match-info-default-container {
      display: flex;
      flex-direction: column;
      width: 50%;

      .second-row-match {
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr;
        display: flex;
        flex-direction: row;

        div {
          display: flex;
          flex-direction: column;
          padding: 0 1rem;
        }
      }
    }

    .match-info-identified-container {
      display: flex;
      flex-direction: column;
      width: 50%;
    }


  }
}

.info-files, .editors {
  display: grid;
  grid-template-columns: calc(50% - 10px) 50%;
  grid-gap: 10px;
}

.info-files {
  margin-top: 20px;
}

.editors {
  .editor {
    margin-bottom: 50px;

    pre {
      margin: 0;
    }
    p {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      padding: 0;
      margin: 0;
    }
  }
}
