#editor {
  display: grid;

  .app-header {
    padding-bottom: 0;
  }

  .app-content {

  }
}
.match-title {
  margin-bottom: 10px;

  .header-subtitle {
    text-transform: none;
    font-size: 28px;
  }
}

.match-info-header {
  margin-bottom: 10px;

  .content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0;
    height: 100%;
    align-items: center;

    @media screen and (max-width: $default-width) {

    }

  }
}

.match-info-default-container {
  display: flex;
  width: calc(50% - 10px);
  min-width: 500px;
}

.info-files, .editors {
  display: grid;
  grid-template-columns: calc(50% - 10px) 50%;
  grid-gap: 10px;
}

.info-files {
  margin-top: 20px;
}

.editors {

  &.editors-full {
    grid-template-columns: 100%;
  }

  .editor {
    height: 100%;
    overflow: hidden;

    .line-highlighted {
      display: block;
      background-color: #ebe92252 !important;
    }

    span:not(.linenumber) {
      user-select: text !important;
      -webkit-user-select: text !important;
      -webkit-user-drag: initial !important;
    }

    pre {
      margin: 0;
      padding: 0 !important;
      height: 100%;
    }

    p {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      padding: 0;
      margin: 0;
    }
  }
}



