#Report {
  background-color: var(--background-color-primary);

  .report-layout {
    display: grid;
    grid-template-rows: repeat(4, max-content);
    grid-template-columns: 1fr 1fr ;
    grid-gap: 24px;
    width: 100%;

    .identification-progress {
      grid-column: 1/3;
    }

    .matches-for-license {
      grid-row: 2/5;
      grid-column: 2/3;
    }

    .licenses-obligation {
      grid-column: 1/3;
    }

    .report-item {
      padding: 16px;
    }

    .a {
      width: 100%;
      height: 150px;
    }

    .b {
      display: flex;
      flex-direction: column;
      .report-titles-container {
        .report-titles {
          color: #27272A;
          font-size: 30px;
          font-style: normal;
          font-weight: 700;
        }
      }
      .report-second {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .LicensesChart {
          width: 330px;
          height: fit-content;
          padding: 24px;
          display: flex;
          flex-direction: column;
        }

        .license-list {
          overflow-y: scroll;
          max-height: 320px;
          margin-right: 40px;

          .license-list-item {
            display: flex;
            align-items: center;
            background-color: #FFFF;
            width: 288px;

            margin-bottom: 18px;
            padding: 12px;
            border-radius: 4px;

            &:hover {
              transition: ease-in 0.2s;
              background-color: rgba(228, 228, 231, 1);
              cursor: pointer;
              ::-webkit-scrollbar-thumb:hover {
                background: #555;
              }
            }


            .license-list-item-color {
              background-color: #E22C2C;
              width: 24px;
              height: 24px;
              margin-right: 12px;
              border-radius: 4px;
            }

            .license-list-item-name {
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: 25px;
              letter-spacing: 0em;
              text-align: left;
            }
          }
        }


      }
    }







    .IdentificationProgress {
      padding: 10px;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .report-titles-container {

        margin-bottom: 48px;

          .report-titles {
            color: #27272A;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
          }

      }


    }

    .total-files-container {
      display: flex;
      justify-content: center;
      align-items: center;

      .total-files-label {
        font-size: 20px;
        font-weight: 700;
        line-height: 19px;
        text-align: center;
      }

    }






  }
}
