#Report {
  background-color: var(--background-color-primary);
  min-width: 800px;

  @media screen and (min-width: 1024px) {
    padding-left: 180px;
    padding-right: 180px;
  }

  .app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .report-layout {
    display: grid;
    grid-template-rows: repeat(4, max-content);
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    width: 100%;

    .report-item {
      padding: 16px;

      .report-title {
        color: #27272A;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
      }
    }

    .identification-progress {
      grid-column: 1/3;
    }

    .matches-for-license {
      grid-row: 2/5;
      grid-column: 2/3;
    }

    .licenses-obligation {
      grid-column: 1/3;
    }

    .report-item.licenses {
      display: flex;
      flex-direction: column;

      .report-second {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 10px;
        justify-content: space-between;
        align-items: center;

        .LicensesChart {
          padding: 24px 10px;
          max-width: 300px;
        }

        .license-list {
          overflow-y: scroll;
          max-height: 320px;
          overflow-x: hidden;
          max-width: 300px;

          .license-list-item {
            display: flex;
            align-items: center;
            background-color: #FFFF;
            margin-bottom: 4px;
            padding: 12px;
            border-radius: 4px;

            &-selected {
              background-color: #E4E4E7;
              border-radius: 4px;
            }

            &:hover {
              transition: ease-in 0.2s;
              background-color: rgba(228, 228, 231, 1);
              cursor: pointer;
              ::-webkit-scrollbar-thumb:hover {
                background: #555;
              }
            }

            .license-list-item-color {
              width: 24px;
              height: 24px;
              margin-right: 12px;
              border-radius: 4px;
            }

            .license-list-item-name {
              font-size: 16px;
              font-weight: 400;
              line-height: 25px;
              text-align: left;
            }
          }
        }

      }
    }



    #IdentificationProgress {
      display: flex;
      justify-content: center;
      flex-direction: column;

      .identification-canvas-container {
        margin-top: 30px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .label {
          color: #22C55E;
          padding: 12px;
          font-size: 50px;
          font-weight: 700;
        }

        .progress-bar {
          padding: 0 20px;
          width: 100%;
        }
      }

    }

    .total-files-container {
      display: flex;
      justify-content: center;
      align-items: center;

      .total-files-label {
        font-size: 16px;
        font-weight: 600;
        text-align: center;
      }

    }

    .table-cell {
      display: flex;
      align-items: center;
      color: #3B82F6;
      & svg {
        margin-right: 5px;
      }

    }


    #MatchesChart {
      display: flex;
      justify-content: center;
      flex-direction: column;

      .matches-canvas-container {
        margin-top: 30px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .label-match-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .label-match {
            color: #6366F1;
            padding: 0px;
            font-size: 40px;
            font-weight: 400;
          }

          .label-match-sublabel{
            color: #27272A;
            font-size: 14px;
          }

        }

        .label-nomatch-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .label-nomatch {
            color: #A5B4FC;
            padding: 0px;
            font-size: 40px;
            font-weight: 400;
          }

          .label-nomatch-sublabel {
            color: #27272A;
            font-size: 14px;
          }

        }

        .progress-bar {
          padding: 0 20px;
          width: 100%;
        }
      }

    }



      #VulnerabilitiesContainer {
        display: flex;
        align-items: flex-end;
        margin-top: 20px;
        .vulnerabilitie-container {
          display: flex;
          flex-direction: column;
          width: fit-content;
          align-items: center;
          margin-right: 50px;

          .vulnerabilitie-number {
            color: #27272A;
            font-size: 40px;
          }

          .critical-number {
            font-size: 70px;
            font-weight: 700;
          }


          .vulnerabilitie-label {
            width: fit-content;
            border-radius: 4px;
            padding: 2px 12px;
          }

          .critical-label {
            background-color: #EF4444;
            color: #FFFFFF;
          }

          .high {
            background-color: #FDBA74;
            color: #C2410C;
          }

          .medium {
            background-color: #FDE047;
            color: #A16207;
          }

          .moderate {
            background-color: #F4F4F5;
            color: #A1A1AA;
          }

        }
      }

      .tableCellForLicensePill {
        display: flex;
        align-items: center;
        overflow-x: scroll;
        justify-content: center;

        .tinyPillLicenseContainer {
          background-color: #E4E4E7;
          width: fit-content;
          height: fit-content;
          display: flex;
          justify-content: center;
          padding: 2px 6px;
          border-radius: 4px;
          margin-right: 10px;

          .tinyPillLicenseLabel{
            color: #3F3F46;
            font-size: 11px;
            font-weight: 700;
          }
        }
      }












  }
}
