#MatchInfoCard {
  width: 100%;
  padding-bottom: 0px;
}

.match-info-card-content {
  .label-info {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;

    &.original {
      opacity: 0.5;
      span {
        text-decoration: line-through;
      }
    }
  }

  .component-name {
    font-weight: 700;
    font-size: 16px;
    flex-shrink: .5;
    color: #3B82F6;
    word-break: break-word;
  }

  .match-info-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: .5;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 4px;

    &.component {
      max-width: 40%;

      .value {
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 12px;
      }
    }

    .label {
      font-size: 12px;
      color: rgba(161, 161, 170, 1);
      margin-bottom: 3px;
    }

    .value {
      font-size: 14px;
    }

    &.usage .value {
      text-transform: capitalize;
      font-weight: 500;
      color: var(--color-status-identified);
    }
  }
}

.match-info-card {
  background-color: #ffff;
  width: 100%;
  height: 100%;
  min-height: 58px;
  border-radius: 4px;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;

  @media screen and (max-width: $default-width) {
    width: 100%;
  }

  &:hover .match-info-card-buttons {
    opacity: 1 !important;
  }

  .match-info-card-content {
    display: flex;
    align-items: center;
    position: relative;
    width: calc(100% - 30px);
    height: 100%;
    padding-left: 12px;
    justify-content: space-between;
    border-left: 10px solid transparent;

    &.status- {
      &pending {
        border-left: 10px solid $pending-orange;
      }

      &identified {
        border-left: 10px solid $indentified-green;
      }

      &ignored {
        border-left: 10px solid $ignored-gray;
      }
    }

    .match-info-card-buttons {
      display: flex;
      position: absolute;
      background: white;
      padding: 0 0px 0 10px;
      right: 0px;
      opacity: 0.7;

      .check{
        color: $indentified-green;
      }

      .ban {
        color: $ignored-gray;
      }
    }
  }
}

.popover-container {
  position: absolute;
  margin-top: -5px;
  padding-top: 5px;
  z-index: 99999;
}

.component-details-matchinfo {
  width: fit-content;
  max-width: 600px;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  border-radius: 4px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05), 0px 10px 15px 0px rgba(0, 0, 0, 0.1);

  .tiny-container-detail-matchinfo {
    margin: 16px 16px 0;

    &:last-child {
      margin-bottom: 16px;
    }

    p {
      margin: 0px;
    }

    .title-detail-matchinfo {
      color: #3B82F6;
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
    }

    .desc-detail-matchinfo {
      font-size: 16px;
      font-weight: 400;
    }

    .url-matchinfo{
      text-decoration: underline;
      word-wrap: normal;
    }
  }

}


