.code-viewer.nohighlight {
  background-color: rgb(46, 52, 64);
  color: #eeeeee;
  overflow: scroll;

  span {
    display: inline;
  }

  code .linenumber {
    display: inline-block;
    min-width: 3.25em;
    padding-right: 1em;
    text-align: right;
    user-select: none;
  }
}
