.code-viewer.nohighlight {
  background-color: rgb(46, 52, 64);
  color: #eeeeee;
  overflow: scroll;

  header {
    text-align: center;
    width: 70%;
    padding: 5px 0 10px;
    margin: 10px auto;
    color: #e7c735;
    border-bottom: 1px solid #eeeeee;
  }

  span {
    display: inline;
  }

  code .linenumber {
    display: inline-block;
    min-width: 3.25em;
    padding-right: 1em;
    text-align: right;
    user-select: none;
  }
}
