#CryptographyReportPage {
  display: grid;

  .app-header {
    .header-title {
    }
  }

  .app-content {
    .cryptography-table {
      max-height: 100%;
    }
  }

  .form-row.filter {
    .form-group {
      width: 350px;

      &.filter-severity {
        min-width: 350px;
        width: auto;

        .MuiAutocomplete-option {
          padding-top: 0;
          padding-bottom: 0;
        }

        .tag:not(.option) {
          padding: 0;
        }

        .tag.option {
          font-size: 12px;
        }
      }
    }
  }

  .tag {
    padding: 2px 8px;
    border-radius: 4px;
  }
}
