.match-card {
  background-color: #ffff;
  height: 68px;
  width: 55%;
  border-radius: 4px;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.06),
    0px 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;


  @media screen and (max-width: $default-width) {
    width: 100%;
    margin-top: 20px;
  }

  div {
    margin-left: 24px;
  }
}


.status- {
  &pending {
    border-left: 10px solid $pending-orange;
  }

  &identified {
    border-left: 10px solid $indentified-green;
  }

  &ignored {
    border-left: 10px solid $ignored-gray;
  }
}

