header.app-header {
  .subheader, .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .header {
    align-items: flex-start;
  }
}

.file-list {
  display: grid;
  grid-template-columns: calc(50% - 7px) calc(50% - 7px);
  grid-gap: 14px;

  @media screen and (max-width: $default-width) {
    grid-template-columns: 100%;
    .match-card {
      margin: 0;
    }
  }

  .item {
    cursor: pointer;
    .match-card {
      width: calc(100% - 10px);
    }
  }
}

