header.app-header {

  .subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .component-info {
      display: flex;
      > div {
        margin-right: 40px;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.file-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;

  @media screen and (max-width: $default-width) {
    grid-template-columns: 1fr;
    .match-card {
      margin: 0;
    }

  }

  .item {
    cursor: pointer;
    .match-card {
      width: calc(100% - 10px);
    }
  }
}

