#ProjectSettings {
  .app-content {
    form {
      min-height: 80vh;
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .grid-layout {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 64px;

      .settings-right-column {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
      }
    }

    .form-container {
      .project-license-container {
        .input-container {
          transform-origin: 0;

          &-license {
            margin-top: 2em;
          }

          .input-label-add-container {
            display: flex;
            align-items: center;
          }

          .project-name-container {
            max-width: 380px;
          }

          .input-text-container {
            margin-top: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;

            .input-autocomplete {
              height: 40px;
            }

            .icon {
              margin-left: 4px;
            }

          }

          .error-message {
            color: red;
            height: 30px;
            margin-top: 6px;
          }
        }
      }

      .api-conections-container {
        margin-top: 5px;
        .api-subcontainer {
          display: flex;
          flex-direction: column;

          .api-conections-label-container {
            .api-conections-label {
              font-size: 20px;
            }
          }
        }
      }

      .context-files-info {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 24px;

        a{
          cursor: pointer;
        }
        .MuiAlert-message {
          white-space: pre-line;
        }
      }
    }
  }

  .input-container-license,
  .api-subcontainer {
    max-width: 600px;
  }

  .label-input-container {
    .label-icon {
      margin-bottom: 12px;
    }
    .MuiSvgIcon-root {
      margin-right: 15px;
    }
  }

  .button-container {
    display: flex;
    justify-content: flex-end;

    position: fixed;
    bottom: 16px;
    right: 60px;

    .btn {
      padding: 12px 24px;
      border-radius: 4px;
    }

    .btn-continue {
      background-color: #6366f1;
      color: #fff;
      font-weight: 400;
      font-size: 24px;
    }
  }


  .input-label {
    font-weight: 600;
    font-size: 18px;

    &.h3 {
      font-size: 16px;
      font-weight: 500;
    }

    .optional {
      color: gray;
      font-weight: normal;
      font-size: 16px;
    }
  }

  .item-default {
    color: #a8a8a8 !important;
  }

  .helper {
    margin-left: 32px;
    margin-top: -8px;
  }
}
