#ProjectSettings {
  .app-content {
    .project-form-container {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-gap: 1rem;
      overflow-x: hidden;
      .project-license-container {
        .input-container {
          &-license {
            margin-top: 3em;
          }

          .input-label-add-container {
            display: flex;
            align-items: center;
          }

          .project-name-container {
            max-width: 500px;
          }

          .license-input-container {
            max-width: 625px;
          }

          .input-label {
            font-weight: bold;
            font-size: 20px;
          }

          .input-text-container {
            margin-top: 1rem;
            padding: 8px;
            display: flex;
            justify-content: center;
            align-items: center;

            .input-autocomplete {
              height: 40px;
              padding: 8px;
            }

            .project-name-input {
              font-size: 2rem;
              font-weight: 700;
            }

            .icon {
              margin-right: 0.75em;
            }
          }
        }
      }

      .api-conections-container {
        display: flex;
        align-items: center;
        justify-content: center;
        .api-conections-container-form {
          width: 800px;

          .api-conections-label-container {
            margin-bottom: 24px;

            .api-conections-label {
              font-size: 20px;
            }
          }
        }

        .knowledgebase-api-container {
          margin-bottom: 24px;
        }
      }
    }
  }
}

.label-input-container {
  margin-bottom: 24px;
  .label-icon {
    margin-bottom: 12px;
  }
}
