#editor {
  display: grid;
  height: 100%;

  .app-header {
    padding-bottom: 0;
  }

  .app-content {
  }
}

.match-title {
  margin-bottom: 10px;

  .header-subtitle {
    text-transform: none;
    font-size: 28px;
  }
}

.match-info-header {
  margin-bottom: 10px;

  .content {
    // display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0;
    height: 100%;
    align-items: center;

    @media screen and (max-width: $default-width) {
    }
  }
}
.content {
  width: 100%;
  margin-bottom: 12px;
  position: relative;
}

.match-info-default-container {
  display: grid;
  grid-template-columns: calc(50% - 7px) calc(50% - 7px);
  grid-gap: 10px;
  overflow-y: auto;
  max-height: 160px;
  padding-bottom: 2px;
  padding-top: 1px;

  @media screen and (max-width: 1100px) {
    grid-template-columns: 100%;
    .match-card {
      margin: 0;
    }
  }
}
.info-files {
  margin-top: 10px;
  display: grid;
  grid-template-columns: calc(50% - 10px) 50%;
  grid-gap: 10px;
}

.editors {
  display: grid;
  overflow-y: visible !important;

  &.diff-view {
    grid-template-columns: calc(50% - 10px) 50%;
    grid-gap: 10px;
  }

  .editor {
    height: 100%;
    display: flex;
    background: #1a1a1a;
    border-radius: 4px;

    #viewer {
      display: grid;
      height: 100%;
      width: 100%;
    }

    .file-loader {
      margin: auto;
      padding: 50px;
      text-align: center;
      font-size: 12px;
      color: #d9d7d7;
    }

    .lineHighlightDecoration {
      background: rgba(52, 59, 36, 0.73);
    }

    .lineHighlightLineDecoration {
      background: rgb(76, 105, 9);
      width: 3px !important;
      margin-left: 3px;
    }

    .inlineWordHighlightDecoration {
      background: rgba(52, 59, 36, 0.73);
      filter: saturate(7);
    }

    .editor-widget.find-widget.reduced-find-widget.visible {
      z-index: 6;
    }

    .monaco-editor,
    .monaco-editor .overflow-guard {
      border-radius: 4px;
    }
  }

  #NoLocalFile {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    p {
      margin-top: 10px;
      margin-bottom: 35px;
      font-weight: 400;
      text-align: center;
      max-width: 300px;
    }
  }
}
