#DependencyTree {
  height: calc(100% - 38px);
  display: grid;
  grid-template-rows: 1fr;

  .ReactVirtualized__Grid {
    outline: none;
    background-color: white; // FIXME: find alternative

    &__innerScrollContainer {
      background-color: white;
    }
  }

  .MuiListItem-root {
    color: var(-font-color-primary);

    padding-top: 4px;
    padding-bottom: 4px;
    display: grid;
    grid-template-columns: 70px 1fr 0.3fr 0.3fr ;

    &.MuiListItem-gutters {
      border-bottom: solid 1px #e4e2e2;
    }

    &.pending .item-icon::before {
      background-color: var(--color-status-pending);
    }

    &.original .item-icon::before {
      background-color: var(--color-status-ignored);
    }

    &.identified .item-icon::before {
      background-color: var(--color-status-identified);
    }

    .MuiListItemIcon-root {
      min-width: 0;
      margin-right: 12px;
    }

    .MuiListItemText-primary, .MuiListItemText-secondary {
      font-size: 16px;
      line-height: normal;
      font-weight: 700;
      white-space: pre-wrap;
      word-wrap: break-word;
      text-overflow: clip;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }

    .MuiListItemText-secondary {
      font-size: 10px;
      font-weight: 400;
      margin-top: 2px;
    }


    &:hover .item-action-buttons  {
      opacity: 1;
    }
  }

  .item-action-buttons {
    background: white;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    height: 100%;

    opacity: 0;

    transition: opacity 200ms ease;

    .check {
      color: $indentified-green;
    }

  }

  .item-icon {
    display: flex;
    align-items: center;

    &::before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 16px;
      border-radius: 50%;
      background-color: #e0e0e0;
    }
  }

  .info-container {
    display: flex;
    flex-direction: column;
    margin-right: 5px;

    h6 {
      font-size: 12px;
      color: #A1A1AA;
    }

    .icon {
      color: orange
    }

    &.version {
      width: 80px;
    }
  }

  @mixin pill {
    border-radius: 4px;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    padding: 0px 4px
  }

  .pill-license, .pill-version {
    @include pill;
    width: max-content;
    font-size: 12px;
  }

  .pill-version {
    padding: 0;
  }

  .pill-license {
    background-color: #E4E4E7;
    color: #4B5563;
    text-transform: uppercase;
    font-weight: 700;
  }

}
