.file-tree-container {
  $bg: #dbe7ff;
  color: #3F3F46;
  font-weight: 400;

  .ReactVirtualized__Grid__innerScrollContainer {
    overflow: visible !important;
  }

  .ReactVirtualized__List {
    outline: none;
  }

  .ft-node {
    &:first-child {
      padding-left: 8px !important;
    }

    &.filter-item {
      color: #968d8d8a;
    }

    &:hover {
      background-color: #eef3fdad;
    }

    &.selected {
      background-color: $bg !important
    }

    > span {
      width: 100%;
      display: flex;
      overflow: visible;
      word-break: break-all;
      white-space: nowrap;
    }

    i.fa {
      margin-top: 1px;
      width: 11px;
      text-align: center;
      outline: none;

      &.fa-folder:before {
        content: "\f114";
      }

      &.fa-folder-open:before {
        content: "\f115";
      }

      &.fa-file:before {
        content: "\f016";
      }
    }

    //  &.status-pending > span .rct-node-icon::before
    &.status-pending > span .ft-node-icon::before  {
      background: var(--color-status-pending);
    }

    &.status-identified > span .ft-node-icon::before  {
      background: var(--color-status-identified);
    }

    &.status-ignored > span .ft-node-icon::before  {
      background: var(--color-status-ignored);
    }

    .ft-node-title {
      font-size: 14px;
      margin-left: 5px;
      background: transparent;
      border: transparent;
      outline: none;
      cursor: pointer;
      width: 100%;
      text-align: left;
      font-family: inherit;

      &.file {
        padding-left: 11px;
      }

      .ft-node-icon {
        position: relative;
        display: inline-block;
        margin-right: 8px;
        min-width: 15px;
        font-size: 14px;

        &::before {
          content: '';
          display: inline-block;
          position: absolute;
          left: 10px;
          bottom: 1px;
          background: transparent;
          width: 7px;
          height: 7px;
          border-radius: 50%;
        }
      }
    }
  }

}
