#Report {
  background-color: var(--background-color-primary);
  min-width: 800px;

  @media screen and (min-width: 1300px) {
    padding-left: 180px !important;
    padding-right: 180px !important;
  }

  .nav {
    .MuiButton-root {
      background: #D4D4D8;
      color: #505055;
      font-weight: 600;
      padding: 8px 20px;
    }

    .active {
      .MuiButton-root {
        background-color: white;
        color: black;
      }
    }

  }

  .empty-container{
    width : 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .report-message{
    display:flex;
    flex-direction:column;
    align-items: center;

  }

  .report-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 16px;


    &.detected {
      grid-template-rows: repeat(3, max-content);

      .matches-for-license {
        grid-row: 1/4;
        grid-column: 2/3;
      }

      .licenses-obligation {
        grid-column: 1/3;
      }
    }

    &.identified {
      grid-template-rows: repeat(4, max-content);

      .identification-progress {
        grid-column: 1/3;
      }
    }


    .report-item {
      padding: 16px;

      .report-title {
        color: #27272A;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
      }

      .report-empty {
        font-size: 16px;
        font-weight: 400;
        color: #6B7381;
        margin-top: 6px;
      }
    }

    .report-item.licenses {
      display: flex;
      flex-direction: column;

      .report-empty {
        font-size: 16px;
        font-weight: 400;
        color: #6B7381;
        margin-top: 6px;
      }

    }

    #IdentificationProgress {
      display: flex;
      justify-content: center;
      flex-direction: column;

      .identification-canvas-container {
        margin-top: 22px;
        height: 38px;
        width: 100%;
        display: flex;
        justify-content: space-between;


        .label {
          float: left;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          color: #22C55E;
          margin-top: -6px;
          font-size: 34px;
          font-weight: 700;
        }

        .label-not-found {
          margin-top: -16px;
          font-size: 16px;
          font-weight: 400;
          color: #6B7381;
        }

        .progress-bar {
          width: 90%;
        }
      }
    }

    .table-cell {
      display: flex;
      align-items: center;
      color: #3B82F6;
      word-break: break-all;

      svg {
        margin-right: 5px;
      }
    }

    .break-word-table {
      word-break: break-all;
    }

      .tableRowLicense {
        .MuiTableCell-root {
          padding: 8px 16px;
        }
        .tableCellForLicensePill {

          .container-licenses-pills {
            display: flex;
            align-items: center;
            justify-content: center;

            .tinyPillLicenseContainer {
              background-color: #E4E4E7;
              width: fit-content;
              height: fit-content;
              display: flex;
              justify-content: center;
              padding: 2px 6px;
              border-radius: 4px;
              margin-right: 10px;

              .tinyPillLicenseLabel{
                color: #3F3F46;
                font-size: 11px;
                font-weight: 700;
              }
            }
          }
        }
      }
  }
}

#LicensesChart {
  padding: 8px 0 4px;
  max-width: 220px;
  justify-self: center;
}

#report-second {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  align-items: center;
}


#LicenseTable.license-list {
  overflow-y: scroll;
  max-height: 200px;
  padding: 0 20px;

  .license-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    padding: 8px 10px;

    &-selected {
      background-color: #E4E4E7;
      border-radius: 4px;
    }

    &:hover {
      transition: ease-in 0.2s;
      background-color: rgba(228, 228, 231, 1);
      cursor: pointer;
    }

    .license-list-item-color {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      margin-right: 12px;
      border-radius: 4px;
    }

    .license-list-item-name {
      font-size: 14px;
      font-weight: 400;
    }
  }
}

#MatchesChart {
  display: flex;
  justify-content: center;
  flex-direction: column;

  canvas {
    padding: 0 20px;
    max-width: 600px;
    min-width: 200px;
  }

  .matches-canvas-container {
    margin-top: 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .label-match-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .label-match {
        color: #6366F1;
        padding: 0px;
        font-size: 2em;
        font-weight: 400;
      }

      .label-match-sublabel{
        color: #27272A;
        font-size: 14px;
      }

    }

    .label-nomatch-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .label-nomatch {
        color: #A5B4FC;
        padding: 0px;
        font-size: 2em;
        font-weight: 400;
      }

      .label-nomatch-sublabel {
        color: #27272A;
        font-size: 14px;
      }

    }
  }
}

#VulnerabilitiesContainer {
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
  justify-content: center;

  .vulnerabilitie-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    margin-right: 1vw;

    .vulnerabilitie-number {
      color: #27272A;
      font-size: 24px;
    }

    .vulnerabilitie-label {
      width: fit-content;
      border-radius: 4px;
      padding: 2px 12px;
    }

    .critical-label {
      background-color: #EF4444;
      color: #FFFFFF;
    }

    .high {
      background-color: #FDBA74;
      color: #C2410C;
    }

    .moderate {
      background-color: #FDE047;
      color: #A16207;
    }

    .low {
      background-color: #c7c7cc;
      color: #454547;
    }
  }
}

.total-files-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .total-files-label {
    font-size: 14px;
    text-align: center;
  }
}

.notarize-container{
  display: flex;
  justify-content: center;
  flex-flow: row;
  margin-top: 20px;

}

.hide{
  display:none;
}
