/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import "~react-checkbox-tree/lib/react-checkbox-tree.css";

// Colors

$pending-orange: #f97316;
$indentified-green: #22c55e;
$ignored-gray: #a1a1aa;
$nomatch-black: #27272a;
$blue-scanoss: #3B82F6;
;

// Screen sizes
$default-width: 1280px;
$md: 780px;

/* theme */
@import './theme/variables.scss';
@import './theme/Layout.global.scss';


@import '~react-checkbox-tree/lib/react-checkbox-tree.css';

/* theme */
@import './theme/SplitPane.global.scss';
@import './theme/Panel.global.scss';
@import './theme/Dialog.global.scss';

/* components */
@import './renderer/home/Home';
@import './renderer/workbench/components/AppBar/AppBar';
@import './renderer/workbench/Workbench';
@import 'renderer/workbench/pages/Editor/Editor';
@import './renderer/workbench/pages/ComponentList/ComponentList';
@import './renderer/workbench/pages/ComponentDetail/ComponentDetail';
@import './renderer/workbench/pages/InventoryDetail/InventoryDetail.scss';
@import './renderer/workbench/components/FileTree/FileTree';
@import './renderer/workbench/components/ComponentCard/ComponentCard';
@import './renderer/workbench/components/RecognizedCard/RecognizedCard';
@import './renderer/workbench/components/Label/Label';
@import './renderer/workbench/components/Pill/Pill';
@import './renderer/workbench/components/Title/Title';
@import './renderer/workbench/components/MatchCard/MatchCard';
@import './renderer/workbench/components/LabelCard/LabelCard';
@import './renderer/workbench/components/MatchInfoCard/MatchInfoCard';
@import './renderer/workbench/components/InventoryCard/InventoryCard';
@import './renderer/workbench/components/InventoryDialog/InventoryDialog';
@import './renderer/workbench/components/ComponentDialog/ComponentDialog.scss';
@import './renderer/workbench/components/InventorySelectorDialog/InventorySelectorDialog';
@import './renderer/workbench/components/ComponentInfo/ComponentInfo.scss';
@import './renderer/workbench/components/NoMatchFound/NoMatchFound.scss';
@import './renderer/report/Report.scss';
@import './renderer/workspace/Workspace';
@import './renderer/workspace/pages/NewProject/NewProject';
@import './renderer/workbench/pages/ComponentList/components/ScanResults.scss';
@import './renderer/workbench/components/LicenseDialog/LicenseDialog.scss';

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*, *::after, *::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
}

body {
  position: relative;
  color: #27272A !important;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0;
  overflow-y: hidden;
  margin: 0;
  padding: 0;

  height: 100vh;
  min-width: 800px;
  background-color: var(--background-color-primary);
}

body > #root {
  height: 100%;
}

button.bnt-primary {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: transform ease-in 0.05s;
  cursor: pointer;
}

button.bnt-primary:hover {
  transform: scale(1.05);
}

button.bnt-primary:active, button.bnt-primary:focus {
  outline: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* 4px scroll thumb. 10px margin from right margin */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 14px 14px transparent;
  border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 14px 14px #d7d7db;
  border: solid 3px transparent;
  border-radius: 14px;
}

::-webkit-scrollbar-button {
  display: none;
}

.app-page {
  &::-webkit-scrollbar {
    width: 14px;
    height: 14px;
  }
  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 14px 14px #c3c3c3;
    border: solid 3px transparent;
    border-radius: 6px;
  }

}
.d-flex {
  display: flex;

  &.space-between {
    justify-content: space-between;
  }

  &.align-center {
    align-items: center;
  }
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.mb-3 {
  margin-bottom: 15px;
}

.my-5 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.text-center {
  text-align: center;
}

.MuiChip-root.identified {
  border-radius: 4px;
  background: #DCFCE7;
  border: 1px solid var(--color-status-identified);;

  color: var(--color-status-identified);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

// component of report scss


#LicensesChart {
  padding: 24px 0px;
  max-width: 300px;
}


#report-second {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  align-items: center;
}

.report-item {
  padding: 16px;

  .report-title {
    color: #27272A;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
  }
}
.license-list {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;

  .license-list-item {
    display: flex;
    align-items: center;
    background-color: #FFFF;
    margin-bottom: 4px;
    padding: 12px;
    border-radius: 4px;
    margin-right: 20px;

    &-selected {
      background-color: #E4E4E7;
      border-radius: 4px;
    }

    &:hover {
      transition: ease-in 0.2s;
      background-color: rgba(228, 228, 231, 1);
      cursor: pointer;
      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }

    .license-list-item-color {
      width: 24px;
      height: 24px;
      margin-right: 12px;
      border-radius: 4px;
    }

    .license-list-item-name {
      font-size: 16px;
      font-weight: 400;
      line-height: 25px;
      text-align: left;
    }
  }
}

#MatchesChart {
  display: flex;
  justify-content: center;
  flex-direction: column;

  canvas {
    padding: 0 20px;
    max-width: 600px;
    min-width: 200px;
  }

  .matches-canvas-container {
    margin-top: 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .label-match-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .label-match {
        color: #6366F1;
        padding: 0px;
        font-size: 2em;
        font-weight: 400;
      }

      .label-match-sublabel{
        color: #27272A;
        font-size: 14px;
      }

    }

    .label-nomatch-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .label-nomatch {
        color: #A5B4FC;
        padding: 0px;
        font-size: 2em;
        font-weight: 400;
      }

      .label-nomatch-sublabel {
        color: #27272A;
        font-size: 14px;
      }

    }
  }
}

#VulnerabilitiesContainer {
  display: flex;
  align-items: flex-end;
  margin-top: 10px;


  .vulnerabilitie-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    margin-right: 1vw;

    .vulnerabilitie-number {
      color: #27272A;
      font-size: 1.5vw;
    }

    .critical-number {
      font-size: 3vw;
      font-weight: 700;
    }


    .vulnerabilitie-label {
      width: fit-content;
      border-radius: 4px;
      padding: 2px 12px;
    }

    .critical-label {
      background-color: #EF4444;
      color: #FFFFFF;
    }

    .high {
      background-color: #FDBA74;
      color: #C2410C;
    }

    .medium {
      background-color: #FDE047;
      color: #A16207;
    }

    .moderate {
      background-color: #F4F4F5;
      color: #A1A1AA;
    }

  }
}

.total-files-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .total-files-label {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
  }
}


