/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
 
@import "~react-checkbox-tree/lib/react-checkbox-tree.css";

/* theme */
@import './theme/SplitPane.global.css';
@import './theme/Panel.global.css';

/* components */
@import './renderer/home/Home.css';
@import './renderer/workbench/Workbench.css';


body {
  position: relative;
  color: black !important;
  font-family: sans-serif;
  overflow-y: hidden;
  margin: 0;
  padding: 0;

  height: 100vh;
}

body > #root {
  height: 100%;
}

button.bnt-primary {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: transform ease-in 0.05s;
  cursor: pointer;
}

button.bnt-primary:hover {
  transform: scale(1.05);
}

button.bnt-primary:active {
  outline: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}