:root {
    /* TODO: armar theme cuando llegue UI */
    --background-color-primary: #f5f7fa;
    --text-color-primary: #505050;
}

.explorer {
    color: var(--text-color-primary);
    background-color: var(--background-color-primary);
    height: 100%;
}
