.component-info{
  .container-component-info{
    position: static;

    .main-info{
      display: flex;
      align-items: center;


      .logo{
        height: 48px;
        width: 48px;
        margin: 15px;
      }
    }

    &:hover {
      cursor: pointer;
    }

  }

  .component-details-card{
    width: fit-content;
    max-width: 600px;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    right: 75px;
    z-index: 1000;
    border-radius: 4px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);


  .tiny-container-detail{
    margin: 16px;

    p {
      margin: 0px;
    }

    .title-detail{
      color: #3B82F6;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
    }

    .desc-detail{
      font-size: 20px;
      font-weight: 400;
    }

    .url{
      text-decoration: underline;
      word-wrap: normal;
    }
  }

  }
}


